*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100%;
  background: #0059ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box{
  background: #fff;
  width: 40rem;
  padding: 3rem;
  border-radius: 5px;
}

#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#author{
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
}

#new-quote {
  background: #0059ff;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
